body > .container {

}
body {
  background: url("../city-sky-skyline-australia.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 80px;

}

.opac {
  background: rgba(39, 48, 66, 0.1);
   border-radius:0;
   border-color: rgba(39, 48, 66, 0.1);
   transition: all 0.4s ease;
}
.opac:hover {
  background: rgba(39, 48, 66, 1);
   border-radius:0;
   border-color: rgba(39, 48, 66, 0.1);
   transition: all 0.4s ease;
}

.smallnav {
  background-color: rgba(39, 48, 66, 1);
  border-color: rgba(39, 48, 66, 0.1);


}
#navbar > ul > li.active
{
  color: rgba(39, 48, 66, 0.1);
}
#navbar > ul > li.active > a
{
  background-color: rgba(1, 26, 76, 0.32);
}
#navbar > ul > li > a:hover
{
  background-color: rgba(39, 48, 66, 0.8);
}
nav {
  transition: all 0.4s ease;
}
.bignav {
  padding-top: 15px;
  height: 80px;
  background: rgba(39, 48, 66, 0.1);
  border-color: rgba(39, 48, 66, 0.1);
  color: #E3F1FF;
}

#navbar > ul > li > a
{
  color: #E3F1FF;
}
body > nav > div > div.navbar-header > a
{
  color: #E3F1FF;
}

body > div.jumbotron {
  background: rgba(39, 48, 66, 0);
}
body > nav > div > div.navbar-header > button
{
  border-color: #333
  background-color: black;
}
.navbar-inverse .navbar-brand
{
  color: #E3F1FF;
}


.panel {
  background: rgba(39, 48, 66, 0.1);
  color: wheat;
  border-color: rgba(39, 48, 66, 0.1);
}
